Repository brainpy/BrainPy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @brainpy/core-team, @brainpy/docs-team, @brainpy/maintainers

Add tests for readout and synapse models, and update acknowledgments
  .gitignore
  ACKNOWLEDGMENTS.md
  brainpy/_inputs.py
  brainpy/_neuron.py
  brainpy/_neuron_test.py
  brainpy/_readout.py
  brainpy/_readout_test.py
  brainpy/_stp.py
  brainpy/_synapse.py
  brainpy/_synapse_test.py
  brainpy/_synouts.py
  brainpy/_synouts_test.py
Owners: @brainpy/core-team, @brainpy/docs-team

Add tests for readout and synapse models, and update acknowledgments
  brainpy/__init__.py
  brainpy/_inputs.py
  brainpy/_neuron.py
  brainpy/_neuron_test.py
  brainpy/_readout.py
  brainpy/_readout_test.py
  brainpy/_stp.py
  brainpy/_synapse.py
  brainpy/_synapse_test.py
  brainpy/_synouts.py
  brainpy/_synouts_test.py
Owners: @brainpy/core-team

Add comprehensive tests for Neuron and Synapse base classes
  brainpy/_base_test.py
  brainpy/_exponential.py
  brainpy/_inputs.py
  brainpy/_lif.py
  brainpy/_readout.py
  brainpy/_readout_test.py
  brainpy/_synapse.py
Owners: @brainpy/core-team

Add projection modules and update imports for synaptic dynamics
  brainpy/__init__.py
  brainpy/_base.py
  brainpy/_inputs.py
  brainpy/_lif.py
  brainpy/_projection.py
  brainpy/_stp.py
  brainpy/_synapse.py
  brainpy/_synaptic_projection.py
  brainpy/_synouts.py
Owners: @brainpy/core-team

Update imports to use brainpy._errors and adjust version2 references
  brainpy/version2/analysis/highdim/slow_points.py
  brainpy/version2/analysis/utils/model.py
  brainpy/version2/check.py
  brainpy/version2/connect/base.py
  brainpy/version2/connect/custom_conn.py
  brainpy/version2/connect/random_conn.py
  brainpy/version2/connect/regular_conn.py
  brainpy/version2/dnn/linear.py
  brainpy/version2/dynold/synapses/base.py
  brainpy/version2/dynsys.py
  brainpy/version2/integrators/base.py
  brainpy/version2/integrators/fde/Caputo.py
  brainpy/version2/integrators/fde/GL.py
  brainpy/version2/integrators/fde/base.py
  brainpy/version2/integrators/ode/base.py
  brainpy/version2/integrators/runner.py
  brainpy/version2/integrators/tests/test_joint_eq.py
  brainpy/version2/integrators/utils.py
  brainpy/version2/losses/utils.py
  brainpy/version2/math/delayvars.py
  brainpy/version2/math/ndarray.py
  brainpy/version2/math/object_transform/jit.py
  brainpy/version2/math/object_transform/variables.py
  brainpy/version2/math/pre_syn_post.py
  brainpy/version2/math/surrogate/_utils.py
  brainpy/version2/optim/optimizer.py
  brainpy/version2/optim/scheduler.py
  brainpy/version2/runners.py
  brainpy/version2/running/pathos_multiprocessing.py
  brainpy/version2/running/runner.py
  brainpy/version2/train/back_propagation.py
  brainpy/version2/train/base.py
  examples/dynamics_analysis/1d_qif.py
Owners: @brainpy/core-team, @brainpy/docs-team

Refactor imports and enhance usage of brainpy.version2 across multiple modules
  brainpy/version2/__init__.py
  brainpy/version2/checkpoints/__init__.py
  brainpy/version2/checkpoints/serialization.py
  brainpy/version2/dnn/conv.py
  brainpy/version2/dyn/channels/calcium.py
  brainpy/version2/dyn/others/input.py
  brainpy/version2/dyn/synapses/abstract_models.py
  brainpy/version2/dynsys.py
  brainpy/version2/initialize/tests/test_regular_inits.py
  brainpy/version2/integrators/base.py
  brainpy/version2/integrators/joint_eq.py
  brainpy/version2/integrators/ode/exponential.py
  brainpy/version2/integrators/ode/tests/test_ode_keywords_for_adaptive_rk.py
  brainpy/version2/integrators/ode/tests/test_ode_keywords_for_exp_euler.py
  brainpy/version2/integrators/ode/tests/test_ode_keywords_for_general_rk.py
  brainpy/version2/integrators/utils.py
  brainpy/version2/math/__init__.py
  brainpy/version2/math/activations.py
  brainpy/version2/math/compat_numpy.py
  brainpy/version2/math/defaults.py
  brainpy/version2/math/ndarray.py
  brainpy/version2/math/object_transform/_utils.py
  brainpy/version2/math/object_transform/autograd.py
  brainpy/version2/math/object_transform/base.py
  brainpy/version2/math/object_transform/controls.py
  brainpy/version2/math/object_transform/jit.py
  brainpy/version2/math/object_transform/naming.py
  brainpy/version2/math/object_transform/variables.py
  brainpy/version2/math/tests/test_math_deprecations.py
  brainpy/version2/math/tests/test_ndarray.py
  brainpy/version2/math/tests/test_random.py
  examples/dynamics_analysis/4d_HH_model.py
  examples/dynamics_simulation/COBA.py
  examples/dynamics_simulation/decision_making_network.py
  examples/dynamics_simulation/ei_nets.py
Owners: @brainpy/core-team, @brainpy/docs-team

Refactor imports to enhance usage of brainpy.version2 and streamline module references
  brainpy/version2/dyn/__init__.py
  brainpy/version2/dyn/others/input.py
  brainpy/version2/initialize/random_inits.py
  brainpy/version2/math/__init__.py
  brainpy/version2/math/activations.py
  brainpy/version2/math/ndarray.py
  brainpy/version2/math/random.py
  brainpy/version2/math/tests/test_random.py
  examples/dynamics_simulation/decision_making_network.py
  examples/dynamics_simulation/whole_brain_simulation_with_fhn.py
  examples/dynamics_simulation/whole_brain_simulation_with_sl_oscillator.py
  examples/dynamics_training/Song_2016_EI_RNN.py
  examples/dynamics_training/Sussillo_Abbott_2009_FORCE_Learning.py
  examples/dynamics_training/echo_state_network.py
  examples/dynamics_training/integrate_brainpy_into_flax-convlstm.py
  examples/dynamics_training/integrate_brainpy_into_flax-lif.py
  examples/dynamics_training/integrate_flax_into_brainpy.py
  examples/dynamics_training/integrator_rnn.py
  examples/dynamics_training/reservoir-mnist.py
  examples/training_ann_models/mnist-cnn.py
  examples/training_ann_models/mnist_ResNet.py
  examples/training_snn_models/spikebased_bp_for_cifar10.py
  tests/simulation/test_net_rate_FHN.py
  tests/simulation/test_net_rate_SL.py
  tests/simulation/test_neu_HH.py
  tests/training/test_ESN.py
Owners: @brainpy/core-team, @brainpy/docs-team

Update CI configuration to run tests on the brainpy module instead of brainpy/_src
  .github/workflows/CI.yml
Owners: @brainpy/maintainers

Add Read the Docs configuration and update module references to brainpy.version2
  .readthedocs.yml
  docs_version2/apis/deprecated/channels.rst
  docs_version2/apis/deprecated/layers.rst
  docs_version2/apis/deprecated/neurons.rst
  docs_version2/apis/deprecated/rates.rst
  docs_version2/apis/deprecated/synapses.rst
  docs_version2/apis/deprecated/synouts.rst
  docs_version2/apis/deprecated/synplast.rst
Owners: @brainpy/core-team, @brainpy/docs-team

Update Read the Docs configuration and adjust requirements path
  docs_version2/.readthedocs.yml
  docs_version2/index.rst
Owners: @brainpy/core-team, @brainpy/docs-team

.github/CODEOWNERS:

# Code Owners for BrainPy
# These owners will be requested for review when someone opens a pull request
# that modifies code in specific paths or files.
#
# Learn more about CODEOWNERS:
# https://docs.github.com/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything in the repo
* @brainpy/core-team

# Documentation
/docs/ @brainpy/docs-team
*.md @brainpy/docs-team
*.rst @brainpy/docs-team

# CI/CD and GitHub workflows
/.github/ @brainpy/maintainers
/.github/workflows/ @brainpy/maintainers

# Core library
/brainpy/_src/ @brainpy/core-team

# Build and packaging
/pyproject.toml @brainpy/maintainers
/requirements*.txt @brainpy/maintainers

# Tests
/tests/ @brainpy/core-team

# Examples
/examples/ @brainpy/docs-team
