Repository brainpy/BrainPy, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci-cd, dependencies, tests, examples, core, build

.github/labeler.yml:

# Automatically label pull requests based on file paths
# Learn more: https://github.com/actions/labeler

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file: ['docs/**/*', '**/*.md', '**/*.rst']

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*']

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: ['pyproject.toml', 'requirements*.txt']

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file: ['tests/**/*', '**/*test*.py']

# Examples
examples:
  - changed-files:
    - any-glob-to-any-file: ['examples/**/*']

# Core library
core:
  - changed-files:
    - any-glob-to-any-file: ['brainpy/_src/**/*']

# Build/Package
build:
  - changed-files:
    - any-glob-to-any-file: ['pyproject.toml', 'setup.py', 'MANIFEST.in']

Add tests for readout and synapse models, and update acknowledgments
  .gitignore
  ACKNOWLEDGMENTS.md
  brainpy/_inputs.py
  brainpy/_neuron.py
  brainpy/_neuron_test.py
  brainpy/_readout.py
  brainpy/_readout_test.py
  brainpy/_stp.py
  brainpy/_synapse.py
  brainpy/_synapse_test.py
  brainpy/_synouts.py
  brainpy/_synouts_test.py
Labels: documentation, tests

Add tests for readout and synapse models, and update acknowledgments
  brainpy/__init__.py
  brainpy/_inputs.py
  brainpy/_neuron.py
  brainpy/_neuron_test.py
  brainpy/_readout.py
  brainpy/_readout_test.py
  brainpy/_stp.py
  brainpy/_synapse.py
  brainpy/_synapse_test.py
  brainpy/_synouts.py
  brainpy/_synouts_test.py
Labels: tests

Add comprehensive tests for Neuron and Synapse base classes
  brainpy/_base_test.py
  brainpy/_exponential.py
  brainpy/_inputs.py
  brainpy/_lif.py
  brainpy/_readout.py
  brainpy/_readout_test.py
  brainpy/_synapse.py
Labels: tests

Add projection modules and update imports for synaptic dynamics
  brainpy/__init__.py
  brainpy/_base.py
  brainpy/_inputs.py
  brainpy/_lif.py
  brainpy/_projection.py
  brainpy/_stp.py
  brainpy/_synapse.py
  brainpy/_synaptic_projection.py
  brainpy/_synouts.py
Labels: none

Update imports to use brainpy._errors and adjust version2 references
  brainpy/version2/analysis/highdim/slow_points.py
  brainpy/version2/analysis/utils/model.py
  brainpy/version2/check.py
  brainpy/version2/connect/base.py
  brainpy/version2/connect/custom_conn.py
  brainpy/version2/connect/random_conn.py
  brainpy/version2/connect/regular_conn.py
  brainpy/version2/dnn/linear.py
  brainpy/version2/dynold/synapses/base.py
  brainpy/version2/dynsys.py
  brainpy/version2/integrators/base.py
  brainpy/version2/integrators/fde/Caputo.py
  brainpy/version2/integrators/fde/GL.py
  brainpy/version2/integrators/fde/base.py
  brainpy/version2/integrators/ode/base.py
  brainpy/version2/integrators/runner.py
  brainpy/version2/integrators/tests/test_joint_eq.py
  brainpy/version2/integrators/utils.py
  brainpy/version2/losses/utils.py
  brainpy/version2/math/delayvars.py
  brainpy/version2/math/ndarray.py
  brainpy/version2/math/object_transform/jit.py
  brainpy/version2/math/object_transform/variables.py
  brainpy/version2/math/pre_syn_post.py
  brainpy/version2/math/surrogate/_utils.py
  brainpy/version2/optim/optimizer.py
  brainpy/version2/optim/scheduler.py
  brainpy/version2/runners.py
  brainpy/version2/running/pathos_multiprocessing.py
  brainpy/version2/running/runner.py
  brainpy/version2/train/back_propagation.py
  brainpy/version2/train/base.py
  examples/dynamics_analysis/1d_qif.py
Labels: tests, examples

Refactor imports and enhance usage of brainpy.version2 across multiple modules
  brainpy/version2/__init__.py
  brainpy/version2/checkpoints/__init__.py
  brainpy/version2/checkpoints/serialization.py
  brainpy/version2/dnn/conv.py
  brainpy/version2/dyn/channels/calcium.py
  brainpy/version2/dyn/others/input.py
  brainpy/version2/dyn/synapses/abstract_models.py
  brainpy/version2/dynsys.py
  brainpy/version2/initialize/tests/test_regular_inits.py
  brainpy/version2/integrators/base.py
  brainpy/version2/integrators/joint_eq.py
  brainpy/version2/integrators/ode/exponential.py
  brainpy/version2/integrators/ode/tests/test_ode_keywords_for_adaptive_rk.py
  brainpy/version2/integrators/ode/tests/test_ode_keywords_for_exp_euler.py
  brainpy/version2/integrators/ode/tests/test_ode_keywords_for_general_rk.py
  brainpy/version2/integrators/utils.py
  brainpy/version2/math/__init__.py
  brainpy/version2/math/activations.py
  brainpy/version2/math/compat_numpy.py
  brainpy/version2/math/defaults.py
  brainpy/version2/math/ndarray.py
  brainpy/version2/math/object_transform/_utils.py
  brainpy/version2/math/object_transform/autograd.py
  brainpy/version2/math/object_transform/base.py
  brainpy/version2/math/object_transform/controls.py
  brainpy/version2/math/object_transform/jit.py
  brainpy/version2/math/object_transform/naming.py
  brainpy/version2/math/object_transform/variables.py
  brainpy/version2/math/tests/test_math_deprecations.py
  brainpy/version2/math/tests/test_ndarray.py
  brainpy/version2/math/tests/test_random.py
  examples/dynamics_analysis/4d_HH_model.py
  examples/dynamics_simulation/COBA.py
  examples/dynamics_simulation/decision_making_network.py
  examples/dynamics_simulation/ei_nets.py
Labels: tests, examples

Refactor imports to enhance usage of brainpy.version2 and streamline module references
  brainpy/version2/dyn/__init__.py
  brainpy/version2/dyn/others/input.py
  brainpy/version2/initialize/random_inits.py
  brainpy/version2/math/__init__.py
  brainpy/version2/math/activations.py
  brainpy/version2/math/ndarray.py
  brainpy/version2/math/random.py
  brainpy/version2/math/tests/test_random.py
  examples/dynamics_simulation/decision_making_network.py
  examples/dynamics_simulation/whole_brain_simulation_with_fhn.py
  examples/dynamics_simulation/whole_brain_simulation_with_sl_oscillator.py
  examples/dynamics_training/Song_2016_EI_RNN.py
  examples/dynamics_training/Sussillo_Abbott_2009_FORCE_Learning.py
  examples/dynamics_training/echo_state_network.py
  examples/dynamics_training/integrate_brainpy_into_flax-convlstm.py
  examples/dynamics_training/integrate_brainpy_into_flax-lif.py
  examples/dynamics_training/integrate_flax_into_brainpy.py
  examples/dynamics_training/integrator_rnn.py
  examples/dynamics_training/reservoir-mnist.py
  examples/training_ann_models/mnist-cnn.py
  examples/training_ann_models/mnist_ResNet.py
  examples/training_snn_models/spikebased_bp_for_cifar10.py
  tests/simulation/test_net_rate_FHN.py
  tests/simulation/test_net_rate_SL.py
  tests/simulation/test_neu_HH.py
  tests/training/test_ESN.py
Labels: tests, examples

Update CI configuration to run tests on the brainpy module instead of brainpy/_src
  .github/workflows/CI.yml
Labels: ci-cd
