Repository brainpy/BrainPy, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci-cd, dependencies, tests, examples, core, build

fix(docs): update references to brainpy.state in documentation and examples
  docs_state/api/index.rst
  docs_state/api/neurons.rst
  docs_state/api/projections.rst
  docs_state/api/synapses.rst
  docs_state/core-concepts/architecture.rst
  docs_state/core-concepts/neurons.rst
  docs_state/core-concepts/projections.rst
  docs_state/core-concepts/state-management.rst
  docs_state/core-concepts/synapses.rst
  docs_state/examples/gallery.rst
  docs_state/how-to-guides/custom-components.rst
  docs_state/how-to-guides/debugging-networks.rst
  docs_state/how-to-guides/gpu-tpu-usage.rst
  docs_state/how-to-guides/performance-optimization.rst
  docs_state/how-to-guides/save-load-models.rst
  docs_state/migration/migration-guide.rst
  docs_state/quickstart/5min-tutorial.ipynb
  docs_state/snn_simulation-en.ipynb
  docs_state/snn_simulation-zh.ipynb
  docs_state/snn_training-en.ipynb
  docs_state/snn_training-zh.ipynb
  docs_state/tutorials/advanced/05-snn-training.ipynb
  docs_state/tutorials/advanced/06-synaptic-plasticity.ipynb
  docs_state/tutorials/advanced/07-large-scale-simulations.ipynb
  docs_state/tutorials/basic/01-lif-neuron.ipynb
  docs_state/tutorials/basic/02-synapse-models.ipynb
  docs_state/tutorials/basic/03-network-connections.ipynb
  docs_state/tutorials/basic/04-input-output.ipynb
Labels: documentation

fix(docs): update card links and descriptions for brainpy.state APIs
  docs_classic/index.rst
  docs_state/index.rst
Labels: documentation

Update documentation (#791)
  docs_classic/index.rst
  docs_state/api/index.rst
  docs_state/api/neurons.rst
  docs_state/api/projections.rst
  docs_state/api/synapses.rst
  docs_state/core-concepts/architecture.rst
  docs_state/core-concepts/neurons.rst
  docs_state/core-concepts/projections.rst
  docs_state/core-concepts/state-management.rst
  docs_state/core-concepts/synapses.rst
  docs_state/examples/gallery.rst
  docs_state/how-to-guides/custom-components.rst
  docs_state/how-to-guides/debugging-networks.rst
  docs_state/how-to-guides/gpu-tpu-usage.rst
  docs_state/how-to-guides/performance-optimization.rst
  docs_state/how-to-guides/save-load-models.rst
  docs_state/index.rst
  docs_state/migration/migration-guide.rst
  docs_state/quickstart/5min-tutorial.ipynb
  docs_state/snn_simulation-en.ipynb
  docs_state/snn_simulation-zh.ipynb
  docs_state/snn_training-en.ipynb
  docs_state/snn_training-zh.ipynb
  docs_state/tutorials/advanced/05-snn-training.ipynb
  docs_state/tutorials/advanced/06-synaptic-plasticity.ipynb
  docs_state/tutorials/advanced/07-large-scale-simulations.ipynb
  docs_state/tutorials/basic/01-lif-neuron.ipynb
  docs_state/tutorials/basic/02-synapse-models.ipynb
  docs_state/tutorials/basic/03-network-connections.ipynb
  docs_state/tutorials/basic/04-input-output.ipynb
Labels: documentation

Remove redundant test for abstract Neuron class
  brainpy/state/_lif_test.py
Labels: tests

Update documentation to reflect changes in module structure and versioning
  brainpy/__init__.py
  docs/conf.py
  docs_state/apis.rst
  docs_state/tutorials/index.rst
Labels: documentation

Update documentation to reflect changes in module structure and versioning
  docs_state/index.rst
  docs_state/quickstart/5min-tutorial.ipynb
Labels: documentation

Update changelog for version 3.0.1: document module renaming, code structure cleanup, and improvements to documentation and examples
  changelog.md
  docs_classic/index.rst
Labels: documentation

Update default build version to v2 in configuration
  docs/conf.py
Labels: none

Refactor index.rst: streamline table of contents and consolidate sections
  docs_state/index.rst
Labels: documentation

Add new sections for Core Concepts and Quickstart in index.rst
  docs_state/core-concepts/index.rst
  docs_state/quickstart/index.rst
Labels: documentation

Downgrade version to 2.7.0 in __init__.py
  brainpy/__init__.py
Labels: none

Downgrade version to 2.7.0 in __init__.py (#792)
  brainpy/__init__.py
Labels: none

Update index.rst: simplify paths by removing 'core-concepts' and 'quickstart' prefixes
  docs_state/core-concepts/index.rst
  docs_state/quickstart/index.rst
Labels: documentation

Update version to 2.7.1 and refactor Dynamics class: enhance input handling and add new properties
  brainpy/__init__.py
  brainpy/state/_base.py
  brainpy/state/_projection.py
  docs_state/checkpointing-en.ipynb
  docs_state/checkpointing-zh.ipynb
  docs_state/snn_simulation-en.ipynb
  docs_state/snn_simulation-zh.ipynb
  docs_state/snn_training-en.ipynb
  docs_state/snn_training-zh.ipynb
Labels: none

Update version to 2.7.1 and refactor Dynamics class: enhance input ha… (#793)
  brainpy/__init__.py
  brainpy/state/_base.py
  brainpy/state/_projection.py
  docs_state/checkpointing-en.ipynb
  docs_state/checkpointing-zh.ipynb
  docs_state/snn_simulation-en.ipynb
  docs_state/snn_simulation-zh.ipynb
  docs_state/snn_training-en.ipynb
  docs_state/snn_training-zh.ipynb
Labels: none

Update version to 2.7.1 and refactor Dynamics class: enhance input handling and add new properties
  brainpy/state/_base.py
Labels: none

Add state version implementations for neuron and synapse models
  brainpy/dyn/neurons/lif.py
  brainpy/state/__init__.py
  brainpy/state/_hh.py
  brainpy/state/_hh_test.py
  brainpy/state/_izhikevich.py
  brainpy/state/_izhikevich_test.py
  brainpy/state/_lif.py
  brainpy/state/_lif_test.py
  brainpy/state/_synapse.py
  brainpy/state/_synapse_test.py
Labels: tests

Add Examples sections to neuron classes in _lif.py
  brainpy/state/_lif.py
Labels: none

Refactor module assignments to 'brainpy.state' for consistency across files
  brainpy/state/__init__.py
  brainpy/state/_base.py
  brainpy/state/_exponential.py
  brainpy/state/_hh.py
  brainpy/state/_inputs.py
  brainpy/state/_izhikevich.py
  brainpy/state/_lif.py
  brainpy/state/_projection.py
  brainpy/state/_readout.py
  brainpy/state/_stp.py
  brainpy/state/_synapse.py
  brainpy/state/_synaptic_projection.py
  brainpy/state/_synouts.py
Labels: none

Update import paths in _base.py: change references from brainstate to brainpy for consistency
  brainpy/state/_base.py
Labels: none

fix tests
  brainpy/state/_base_test.py
Labels: tests

Update import paths in _inputs.py: change references from brainpy to brainpy.state for consistency
  brainpy/state/_inputs.py
  changelog.md
Labels: documentation

update state neuron and synapse (#794)
  brainpy/dyn/neurons/lif.py
  brainpy/state/__init__.py
  brainpy/state/_base.py
  brainpy/state/_base_test.py
  brainpy/state/_exponential.py
  brainpy/state/_hh.py
  brainpy/state/_hh_test.py
  brainpy/state/_inputs.py
  brainpy/state/_izhikevich.py
  brainpy/state/_izhikevich_test.py
  brainpy/state/_lif.py
  brainpy/state/_lif_test.py
  brainpy/state/_projection.py
  brainpy/state/_readout.py
  brainpy/state/_stp.py
  brainpy/state/_synapse.py
  brainpy/state/_synapse_test.py
  brainpy/state/_synaptic_projection.py
  brainpy/state/_synouts.py
  changelog.md
Labels: documentation, tests

.github/labeler.yml:

# Automatically label pull requests based on file paths
# Learn more: https://github.com/actions/labeler

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file: ['docs_version2_version2/**/*', 'docs_classic/**/*', '**/*.md', '**/*.rst']

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*']

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: ['pyproject.toml', 'requirements*.txt']

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file: ['tests_version2/**/*', '**/*test*.py']

# Examples
examples:
  - changed-files:
    - any-glob-to-any-file: ['examples/**/*']

# Core library
core:
  - changed-files:
    - any-glob-to-any-file: ['brainpy/_src/**/*']

# Build/Package
build:
  - changed-files:
    - any-glob-to-any-file: ['pyproject.toml', 'setup.py', 'MANIFEST.in']
